[submodule "RakNet"]
	path = RakNet
	url = https://github.com/OculusVR/RakNet.git
[submodule "pumpkin"]
	path = pumpkin
	url = git@github.com:byfron/pumpkin.git
[submodule "byfron-utils"]
	path = byfron-utils
	url = git@github.com:byfron/byfron-utils.git
